.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color:black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.rounded{
   border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* ===== Scrollbar for WebKit browsers (Chrome, Edge, Safari) ===== */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #121212; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e; /* Scroll thumb */
  border-radius: 8px;
  border: 2px solid #121212; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f;
}

/* ===== Scrollbar for Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #121212; /* thumb track */
}